[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tony/Desktop/P4V.desktop]
row=0
col=9

[/home/tony/Desktop/Krita.desktop]
row=0
col=12

[/home/tony/Desktop/Blender.desktop]
row=0
col=11

[/home/tony/Desktop/5_3.desktop]
row=0
col=8

[/home/tony/Desktop/REAPER.desktop]
row=0
col=5

[/home/tony/Desktop/Unreal Engine Editor.desktop]
row=0
col=7

[/home/tony/Desktop/Steam.desktop]
row=2
col=0

[/home/tony/Desktop/Horaire.jpg]
row=0
col=18

[Trash]
row=5
col=0

